#section-crea2 p {
    font-size: 18px;
}

.pages .content .section-tutto-cambia p{
    font-size: 20px;
    line-height: 28px;
    
}

.pages .content .section-tutto-cambia h2 {
    font-size: 44px;
}

.pages .content .column-talenti p {
    font-size: 18px;
    line-height: 28px;
}

.subtitle {
    margin-top: 16px;
    font-size: 14px;
}

.pages .content h2 {
    font-size: 34px
    line-height:55px;
}

.pages .content .column-talenti h2 {
    font-size: 14px;
}

#content-home .page-intro p{
    font-size: 50px;
    line-height: 64px;
    color: #969696;
    max-width: none;
}

.pages .content .page-intro p {
    font-size: 40px;
    line-height: 58px;
}

.project-gallery {
    height:850px;
}

.project-gallery img{
    height:850px;
}

.row {
    max-width: 90rem;
}

.molto-footer {
    font-size: 12px !important;
}

.slide .title ul li {
    font-size: 16px;
    text-transform: uppercase;
}

.slide .title h2 {
    font-size: 60px;
    line-height: 80px;
}

.pulsantozzo a {
    font-size: 16px;
    padding: 20px 30px;
}

.slide .title h2 {
    margin: 18px auto 44px auto;
}

.text-shortcode {
    line-height: 36px;
    font-size: 21px;
}

.pages .content .info-project p {

    font-size: 19px;
    line-height: 32px;
}

.sInfo p.t {
    font-size: 14px !important;
}

.pre-footer b {
    font-size: 14px;
}

span.nxt-prg {
    font-size: 14px;
}

.stretchy-wrapper .title h1 {
    font-size: 40px;
    line-height: 56px;
}

#hR, #hD {
    width: 250px;
}

.title-contatti p {
    font-size: 30px;
    color: #9B9B9B;
}

#pulsantozzoContatti {
    margin: 50px 0 60px 0;
}

#social a {
    font-size: 1.3em;
}

#footer-contatti p {
    font-size: 16px; 
}

#social {
    margin-bottom: 20px;
}

#content-home p:not(#tulozzo):not(.molto-footer) {
	font-family: 'Roboto', sans-serif !important;
	font-size: 17px !important;
	line-height: 26px !important;
	color: #aaaaaa !important;
}

#lnkPortfolio a{
    font-size: 50px;
}