#section-crea2 p {
    font-size: 16px;
}

.pages .content .section-tutto-cambia p{
    font-size: 16px;
    line-height: 28px;
    
}

.pages .content .column-talenti p {
    font-size: 16px;
    line-height: 27px;
}

.pages .content h2 {
    font-size: 34px
}

#content-home .page-intro p{
    font-size: 44px;
    line-height: 66px;
    color: #969696;
    max-width: none;
}

.pages .content .page-intro p {
    font-size: 32px;
    line-height: 48px;
    text-align: left;
    max-width: none;
}

.slide .title h2 {
    font-size: 48px;
    line-height: 64px;
}

.project-gallery {
    height:650px;
}

.project-gallery img{
    height:650px;
}

.slide img.brand {
    max-width: 25%
}

#content-home p:not(#tulozzo):not(.molto-footer) {
	font-family: 'Roboto', sans-serif !important;
	font-size: 15px !important;
	line-height: 24px !important;
	color: #aaaaaa !important;
}

#lnkPortfolio a{
    font-size: 44px;
}

.section-branding h3 {
 
    font-size: 30px;
    line-height: 42px;
 
}
